[Unit]
Description=Telraam monitoring service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/Telraam/Scripts/telraam_monitoring.py --idandtrack

[Install]
WantedBy=multi-user.target
