body {
    margin: 0;
    padding:0;
    width:100%;
    height: 100%;
    font-family: Helvetica;
    text-align: center;
    background-color: #efefef;
}
h1, h2 {
    text-align: center;
    border: 0;
    color: #393939;
    margin: 0 0 30px 0;
}
h1 {
    font-size: 40px;
    line-height: 42px;
}
h2 {
    text-align: center;
    border: 0;
    font-size: 20px;
    line-height: 25px;
    color: #a5acb9;
    margin: 50px 0 30px 0;
}
h3 {
    clear:both;
    text-align: center;
    border: 0;
    font-size:11px;
    line-height: 15px;
    margin: 30px 0 10px 0;
}
a {
    color: #1b8c63;
}

.box {
    clear:both;
    margin: 20px 15px 50px 15px;
    background: #FFF;
    -webkit-box-shadow: 0px 5px 26px -2px #dce5ec;
    box-shadow: 0px 5px 26px -2px #dce5ec;
    border-radius: 10px;
    padding: 20px 15px 50px 15px;
}

/* header */
.connection-sticky .success {
    padding: 10px;
    font-size: 12px;
}
.connection-sticky .error {
    padding: 10px;
    font-size: 12px;
}
.green-dot {
    height: 10px;
    width: 10px;
    background-color: #45b281;
    border-radius: 50%;
    margin-right: 15px;
    display: inline-block;
}
.content {
    padding: 15px;
}

img.camera {
    background-color: #ccc;
    background-image: url('no-signal.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 300px;
}
input {
    border-radius: 0;
}
input[type="submit"], input[type="Submit"] {
    -webkit-appearance: none;
}


img.no-signal:after{
    content: "(url: " attr(src) ")";
}
form {
    margin-bottom: 100px;
}
input {
    margin: 10px 0;
    outline: none;
    tap-highlight-color: #eeeeee;
    line-height: 1.21428571em;
    min-height: 3.75em;
    padding: 1em;
    font-size: 1em;
    background: #FFFFFF;
    border: 1px solid #eeeeee;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    padding: 20px;
    width: 100%;
    display: inline-block;
}
label {
    font-size: 12px;
    margin-top: 20px;
    padding: 10px 0 5px 0;
    display: inline-block;
}
select {
    position: relative;
    margin: 10px 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    tap-highlight-color: #eeeeee;
    line-height: 1.21428571em;
    min-height: 3.75em;
    padding: 1em;
    font-size: 1em;
    background: #FFFFFF;
    border: 1px solid #eeeeee;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    padding: 20px;
    width: 100%;
    display: inline-block;
}

.select-container {
    position: relative;
    float: left;
    min-width:100%;
}
.select-container:after {
    content: '<>';
    font: 17px monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    width: 40px;
    /*Adjust for position however you want*/

    top: 28px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */

    position: absolute;
    pointer-events: none;
}

input[type="submit"], input[type="Submit"] {
    background-color: #1b8c63;
    color: #FFFFFF;
    width: 200px;
    margin-top: 25px;
    cursor: pointer;
}
hr {
    border: 0;
    clear: both;
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 100%;
    background: rgba(1, 15, 30, 0.1);
    height: 1px;
    overflow: hidden;
    position: relative;
}
hr::before {
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-name: progress;
    background: #111;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 80px;
}
.error {
    color: #fc5462;
    background-color: rgba(252, 84, 98, 0.2);
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.055);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.055);
    margin-bottom: 10px;
}
.success,
.success-notifcation {
    color: #45b281;
    background-color: #b0e6c7;
    padding: 25px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.055);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.055);
    margin-bottom: 10px;
    border-radius:5px;
}
.success-notifcation.no-background {
    background-color: transparent;
}
@keyframes progress {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(1440px);
    }
}

.sticky {
    position: fixed;
    height: 110px;
    bottom:0;
    left:0;
    right:0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 0px 5px 26px 2px rgba(0,0,0,0.3);
    z-index:999;
}
.sticky h3 {
    margin-top: 5px;
    margin-bottom: 0px;

}
.number {
    font-size: 16px;
    line-height:18px;
    color: #1b8c63;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 0px;
    text-align:center;
    text-shadow: 1px 1px #FFF;
}

.checkboxes div{
    vertical-align: middle;
}
.checkboxes label {
    display: inline-block;
}
.checkboxes input {
    vertical-align: top;
    float: left;
    width: 20px;
}
.checkboxes label span {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    text-align: left;
    width: 220px;
}
.checkboxes label span ul{
    padding:0;
    margin:0;
}
.checkboxes label span ul li{
    margin-left: 15px;
}
/* ---------------------TOP: LANGUAGES & VERSION ---------- */
.version {
    float: left;
    color: #a5acb9;
    font-size: 12px;
    margin: 12px 0 0 5px;
    height: 30px;
}
ul.lang-link {
    float: right;
    text-align: right;
    padding: 0;
    margin: 10px 0 0 0;
    height: 30px;
}
ul.lang-link li {
    text-align: right;
    list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
}
ul.lang-link li:last-child {
    border-right:0;
}
ul.lang-link li a {
    display: inline-block;
    text-decoration: none;
    padding: 4px 6px 5px 4px;
    color: #393939;
    font-size: 12px;
    text-transform: uppercase;
}

/* ---------------------- ICONS ---------- */
.wifi-pwd-field {
    position: relative;
}
.icon-field {
    position: absolute;
    display:inline-block;
    text-indent: -9999px;
    width: 36px;
    height: 36px;
    background-image: url(eye-open.svg);
    background-size: 36px 36px;
    background-repeat: no-repeat;
    margin-left: 2px;
    padding: 0;
    top: 20px;
    right: 10px;
}
.icon-eye {
    background-image: url(eye-open.svg);
}
.icon-eye.closed {
    background-image: url(eye-closed.svg);
}


/* --------------------- SPLASH ---------- */
body.splash {
    width: 100%;
    height: 100%;
    z-index: 200;
    opacity: 0.95;
    cursor: pointer;
    background-position: center center;
}
.splash .box {
    margin-top: 80px;
    margin-bottom: 80px;
}
.splash img {
    margin-top: 60px;
}
.splash .intro {
    margin-top: 40px;
}
.splash .lang-box-container {
    width:100%;
    padding: 50px 0;
}
.splash .lang-box {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #FFF;
    color: #1b8c63;
    font-size: 22px;
    border-radius: 15px;
    width: 20%;
    margin: 10px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 14px;
}
.more_info {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #eee;
    color: #000;
    text-align: left;
    font-size: 12px
}


/* Style the buttons that are used to open the tab content */
/* Style the tab buttons */
.tab-link {
    background-color: transparent;
    border:1px solid #ccc;
    border-top: 0;
    color: #393939;
    float: left;
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 4px 6px;
    font-size: 15px;
    width: 50%;
    height: 60px;
    margin-bottom: 10px;
}
.tab-link.first {
    border-right: 0;
}
.tab-link.active {
    background-color: rgba(255,255,255,0.5);
    color: #1b8c63;
}
.tab-link.disabled {
    color: #CCC;
    opacity:0.5;
    cursor: not-allowed;
}
/* Style the tab */
.tab-content {
    padding-bottom: 100px;
}


/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}
.footer {

}
.footer .number {
    color: #ccc;
    font-size: 12px;
    padding-top: 40px;
}

.loading-available-networks {
    color: grey;
}
/* --------------------- PROGRES ---------- */
.making-the-connection {
    position: fixed;
    top: 0;
    left:0;
    z-index:999;
    background: rgba(0,0,0,0.9);
    height: 100%;
    width: 100%;
    padding: 60px 40px;
    color: #fff;
    box-sizing: border-box;
}
.making-the-connection .error {
    border:0;
}
.progress-note {
    margin-top: 25px;
}
.progress-note.error {
    background: transparent;
}
#progress-container {
    background: rgba(27,140,99, 0.3);
    border-radius: 10px;
}
#progress {
    position: relative;
    overflow: hidden;
    z-index: 999;
    top: 0;
    left: 0px;
    width: 0%;
    height: 25px;
    background: #1b8c63;
    border-radius: 10px;
    animation: progress-bar-stripes 2s linear infinite;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
/* done general */
#progress.done {
    animation: none;
}
#progress.errorbar {
    display: none;
}

#progress.successbar {
    animation: none;
    background: transparent;
    height: 50px;
    width: 100%;
    border: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('check.svg');
    background-size: 35px 35px;
}
.go-telraam {
    display: block;
    margin-top: 25px;
}
.go-telraam a {
    color: #1b8c63;
    text-decoration: none;
}

@-webkit-keyframes progress-bar-stripes {
    from  { background-position: 40px 0; }
    to    { background-position: 0 0; }
}

#progress dd,#progress dt {
    position: absolute;
    top: 0;
    height: 2px;
    border-radius: 100%;
}
#progress dd {
    opacity: 1;
    width: 20px;
    right: 0;
    clip: rect(-6px,22px,14px,10px)
}
#progress dt {
    opacity: 1;
    width: 180px;
    right: -80px;
    clip: rect(-6px,90px,14px,-6px)
}
.progress-close-button {
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    color: #FFF;
    margin-top: 30px;
    cursor: pointer;
    background: rgba(27,140,99, 0.3);
    border:1px solid #1b8c63;
}
.progress-close-button:hover {
    background: rgba(27,140,99, 0.8);
}
.wifi-pwd-field-exist .password-dots {
    width: 65%;
    opacity: 0.5;
    display: inline-block;
    text-align: left;
    float: left;
}
.wifi-pwd-field-exist .edit-password {
    width: 32%;
    padding-top: 25px;
    display: inline-block;
    text-align: left;
    float: right;
}
@-moz-keyframes pulse {
    30% {
        opacity: 1
    }
    60% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-ms-keyframes pulse {
    30% {
        opacity: .6
    }
    60% {
        opacity: 0
    }
    100% {
        opacity: .6
    }
}
@-o-keyframes pulse {
    30% {
        opacity: 1
    }
    60% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes pulse {
    30% {
        opacity: .6
    }
    60% {
        opacity: 0
    }
    100% {
        opacity: .6
    }
}
@keyframes pulse {
    30% {
        opacity: 1
    }
    60% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
#progress.waiting dd,#progress.waiting dt {
    -moz-animation: pulse 2s ease-out 0s infinite;
    -ms-animation: pulse 2s ease-out 0s infinite;
    -o-animation: pulse 2s ease-out 0s infinite;
    -webkit-animation: pulse 2s ease-out 0s infinite;
    animation: pulse 2s ease-out 0s infinite
}

.refresh {
    text-decoration: underline;
}
/* LARGE ONLY */

@media screen and (min-width: 600px) {

    .checkboxes label span {
        display: inline-block;
        padding: 10px;
        vertical-align: top;
        text-align: left;
        width: 450px;
    }

}

/* LARGE ONLY */

@media screen and (max-width: 600px) {

    .splash .lang-box {
        width:80%;
    }

}




